In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("Label_Encoding.xlsx")

In [5]:
data.head()

   Age Marrige_Status
0   21            Yes
1   18            Yes
2   20            Yes
3   65            Yes
4   18            Yes

In [6]:
data1 = data.copy()

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label = LabelEncoder()

In [10]:
data1['Marrige_Status'] = label.fit_transform(data1['Marrige_Status'])

In [11]:
data1.head()

   Age  Marrige_Status
0   21               1
1   18               1
2   20               1
3   65               1
4   18               1

In [13]:
data2 = data.copy()

In [14]:
data2 = pd.get_dummies(data2, columns=['Marrige_Status'])

In [16]:
data2.head()

   Age  Marrige_Status_No  Marrige_Status_Yes
0   21                  0                   1
1   18                  0                   1
2   20                  0                   1
3   65                  0                   1
4   18                  0                   1

In [17]:
data3 = data.copy()

In [18]:
codes = {"Marrige_Status": {"Yes": 3, "No" :7}}

In [19]:
data3 = data3.replace(codes)

In [20]:
data3.head()

   Age  Marrige_Status
0   21               3
1   18               3
2   20               3
3   65               3
4   18               3