# Encoding in Python

###### Create a dataframe

In [1]:
import pandas as pd

In [2]:
data = {"Letters": ['A', 'A', 'B', 'C', 'C', 'B', 'A']}

In [3]:
type(data)

dict

In [5]:
df = pd.DataFrame(data)

In [6]:
df.head()

  Letters
0       A
1       A
2       B
3       C
4       C

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Letters  7 non-null      object
dtypes: object(1)
memory usage: 184.0+ bytes

###### Label Encoding

In [ ]:
# > assiging unique value ot each of the categories (string values)

In [8]:
#  Sklearn label encoding

In [16]:
df1 = df.copy()

In [17]:
df1.head()

  Letters
0       A
1       A
2       B
3       C
4       C

In [18]:
# pip install scikit-learn

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
# initialized the model
label = LabelEncoder()

In [21]:
#  train the model
df1['Letters'] = label.fit_transform(df1['Letters'])

In [22]:
df1.head()

   Letters
0        0
1        0
2        1
3        2
4        2

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Letters  7 non-null      int64
dtypes: int64(1)
memory usage: 184.0 bytes

###### One hot encoding method

In [24]:
# copy

In [25]:
df2 = df.copy()

In [26]:
df2.head()

  Letters
0       A
1       A
2       B
3       C
4       C

In [27]:
df2 = pd.get_dummies(df2, columns=['Letters'])

In [28]:
df2.head()

   Letters_A  Letters_B  Letters_C
0          1          0          0
1          1          0          0
2          0          1          0
3          0          0          1
4          0          0          1

###### Replace method

In [29]:
df3 = df.copy()

In [30]:
df3.head()

  Letters
0       A
1       A
2       B
3       C
4       C

In [31]:
codes = {"Letters": {"A": 100, 'B': 20, 'C': 300}}

df3 = df3.replace(codes)

In [32]:
df3.head()

   Letters
0      100
1      100
2       20
3      300
4      300